  <input type='hidden' id='current_path' value='<%= @path %>'>
  <input type='hidden' id='selected' name='selected'>
  <div class='title'><%= @path %></div>
<% for folder in @folders %>
  <div class='folder' onclick='enter_folder("<%= folder %>")'><%= folder %></div>
<% end %>