<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Driver</title>
  	<script src='/jquery.js'></script>
  	<script src='/driver.js'></script>
  	<link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <div id='message'></div>
    <table id='content' cellspacing='0' cellpadding='0'>
      <tr>
        <td id='hosts'>
          <% @hosts.sort_by(&:first).each do |name, config| %>
            <div id='host_<%= config[:id] %>' onclick='selected(this, "<%= config[:host] %>")'><%= config[:host] %></div>
          <% end %>
        </td>
        <td id='config' rowspan='2'>
          Config!
        </td>
        <td id='folders' rowspan='2'>
          
        </td>
      </tr>
      <tr>
        <td id='buttons'>
          <a onclick='new_form()' href='#'>New</a>
          <a onclick='restart()' href='#'>Restart</a>
        </td>
      </tr>
    </table>
        
    <%= yield %>
  </body>
</html>
