<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Driver</title>
  	<script src='/jquery.js'></script>
  	<script src='/driver.js'></script>
  	<link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <table id='content' cellspacing='0' cellpadding='0'>
      <tr>
        <td id='message' colspan='3' style='display:none'></td>
      </tr>
      <tr>
        <td id='hosts_container'>
          <ul id='hosts'>
            <% @hosts.sort_by { |host| host.first }.each do |name, config| %>
              <li id='host_<%= config[:id] %>' onclick='selected(this, "<%= config[:host] %>")'><%= config[:host] %></li>
            <% end %>
          </ul>
        </td>
        <td id='config' rowspan='2'>
          Config!
        </td>
        <td id='folders' rowspan='2'>
          
        </td>
      </tr>
      <tr>
        <td id='buttons'>
          <div>
            <a onclick='new_form()' href='#'>
              <img src='/add.png' alt='New' title='New'>
            </a>
          </div>
          
          <div>
            <a onclick='restart()' href='#'>
              <img src='/restart.png' alt='Restart' title='Restart'>
            </a>
          </div>
        </td>
      </tr>
    </table>
        
    <%= yield %>
  </body>
</html>
