<h1>New Passenger</h1>
<form action='/create' id='config_form'>
  <%= text_fields_for "DocumentRoot", "ServerName"%>
  <% if @password_required %>
    <p>
      <label for='password'>Password:</label>
      <input type='password' name='password' id='password'>
    </p>
  <% end %>
  <script>$(document).ready(function() { folder_selector("<%= `cd; pwd`.strip! %>"); });</script>
  <p>
    <input type='submit' name='submit' value='submit' onclick='create(); return false'>
  </p>
</form>