body {
  background:#efefef;
  padding-left: 5%;
  text-align: center;
  font: 12pt Helvetica;
}

a {
  color:white;
}

img {
  margin: 3px;
  border: 0;
}

h1 {
  font-size: 16pt;
}

.error, .success {
  width: 95%;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: bold;
}

.error {
  background: #FF5F62;
  border-bottom: 2px solid #9B3A3D;
  border-top: 2px solid #9B3A3D;
  color: white;
}

.success {
  background: #70D300;
  border-bottom: 2px solid #379B00;
  border-top: 2px solid #379B00;
  color: white;
}

#content {
  border: 1px solid #9a9a9a;
  width: 95%;
}

#hosts_container, #config, #folders {
  vertical-align: top;
}

#folders {
  border-left: 2px solid #4E0879;
  background: #9a9a9a;
  text-align: left;
  width: 25%;
  background: #9E11F5;
}

#folders .title {
  padding: 5px;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #4E0879;
}

#folders .folder, #hosts li {
  padding: 5px;
  background: #7A0FBC;
  border-bottom: 1px solid #9E11F5;
  color: white;
  margin: 0px;
}

ul#hosts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#hosts li, #config {
  padding: 5px;
}

#hosts, #buttons {
  text-align: left;
}

#hosts_container {
  width: 20%;
}


#buttons div {
  width: 49%;
  text-align: center;
  float: left;
  height: 100%;
}

#hosts .selected {
  background: #9E11F5;
  font-weight:bold;
}

#folders {
  display: none;
}

#config {
  border-left: 1px solid #bcbcbc;
  text-align: left;
}

p label {
  float: left;
  width: 8em;
}

input[type=text] {
  width: 40em;
}